.titulo{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    color: green;
}
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    background-color: rgba(127, 255, 212, 80%);
    background-image: url("img/natura.png") ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}